@import "tailwindcss";

:root {
  --background: #ffffff;
  --color1: #1b2543;
  --color2: #f6c010;
  --color3: #8d8d8d;
  --color4: #f7f7f7;
}

@theme inline {
  --color-background: var(--background);
  --font-sans: var(--font-inter);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
