@import "tailwindcss";

:root {
  --background: #ffffff;
  --text-color: #232323;
  --cta-text-color: #282828;
  --cta-bg-color: #f6c010;
  --cta-hover-bg-color: #edc74b;
  --cta-secondary-color: #1b2543;
  --hover-secondary-color: #3b5298;
  --text-secondary-color: #8d8d8d;
  --bg-soft-color: #f7f7f7;
  --border-color: #e5e5e5;
  --footer-border-color: #e5e3e3;
  --font-inter: "Inter", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --font-sans: var(--font-inter);
  --font-jakarta: "Plus Jakarta Sans", sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
